AzureFunction/main.zip
ApplicationInsight/python/__pycache__*
.vscode/*
.vscode/launch.json
ApplicationInsight/python/.env
Cognitive-Services-Speech/.env
Cognitive-Services-Speech/resoult.json
CSP/CostViewer/.env
Documentintelligence/__pycache__/main.cpython-310.pyc
GitHubCopilot/Extentions/node_modules/*
.env
106AI/.DS_Store
106AI/index.html
106AI/logo.png
106AI/script.js
106AI/styles.css
106AI/admin/index.html
106AI/admin/scripts.js
106AI/admin/styles.css
AI Echo/.env
AI Echo/users.json
AI4Content/users.json
AzureAIWorkshop/sln/*
AzureAIWorkshop/loca_script.js
AzureOpenAI/chainlit/__pycache__/main.cpython-310.pyc
AzureOpenAI/chainlit/.chainlit/config.toml
AzureOpenAI/chainlit/.chainlit/translations/bn.json
AzureOpenAI/chainlit/.chainlit/translations/en-US.json
AzureOpenAI/chainlit/.chainlit/translations/gu.json
AzureOpenAI/chainlit/.chainlit/translations/he-IL.json
AzureOpenAI/chainlit/.chainlit/translations/hi.json
AzureOpenAI/chainlit/.chainlit/translations/ja.json
AzureOpenAI/chainlit/.chainlit/translations/kn.json
AzureOpenAI/chainlit/.chainlit/translations/ml.json
AzureOpenAI/chainlit/.chainlit/translations/mr.json
AzureOpenAI/chainlit/.chainlit/translations/nl-NL.json
AzureOpenAI/chainlit/.chainlit/translations/ta.json
AzureOpenAI/chainlit/.chainlit/translations/te.json
AzureOpenAI/chainlit/.chainlit/translations/zh-CN.json
AzureOpenAI/FunctionCall/bin/
AzureOpenAI/FunctionCall/obj/
AzureAIWorkshop/js/config.local.js
