AzureFunction/main.zip
ApplicationInsight/python/__pycache__*
.vscode/*
.vscode/launch.json
ApplicationInsight/python/.env
Cognitive-Services-Speech/.env
Cognitive-Services-Speech/resoult.json
CSP/CostViewer/.env
Documentintelligence/__pycache__/main.cpython-310.pyc
GitHubCopilot/Extentions/node_modules/*
AzureOpenAI/Agents/.env
