AzureFunction/main.zip
ApplicationInsight/python/__pycache__*
.vscode/*
.vscode/launch.json
ApplicationInsight/python/.env
Cognitive-Services-Speech/.env
Cognitive-Services-Speech/resoult.json
CSP/CostViewer/.env
Documentintelligence/__pycache__/main.cpython-310.pyc
GitHubCopilot/Extentions/node_modules/*
.env
106AI/.DS_Store
106AI/index.html
106AI/logo.png
106AI/script.js
106AI/styles.css
106AI/admin/index.html
106AI/admin/scripts.js
106AI/admin/styles.css
AI Echo/.env
AI Echo/users.json
